---
layout: splash
author_profile: false
header:
  image: /assets/images/foam.JPG
intro: 
  - excerpt: 'Hello! Im a CS student at the University of Central Florida with experience in VR development, Unity and software automation. Currently trying to diversify my development skills to discover the CS field I enjoy the most.'
feature_row:
  - image_path: assets/images/choochoo.JPG
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/lighthouse.JPG
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/fishies.JPG
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
